<h1><%= @page_title %></h1>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean molestie magna vitae tincidunt vestibulum. Proin viverra id nibh et hendrerit. Mauris eleifend nulla sit amet euismod iaculis. Donec quis mattis nisl. Pellentesque eleifend felis et diam scelerisque, sed cursus tortor egestas. Phasellus gravida ipsum vitae interdum mollis. In erat magna, volutpat non augue vel, mollis sollicitudin ligula. Quisque laoreet gravida urna in blandit. Nunc dignissim hendrerit lorem vitae interdum. Vestibulum aliquet pretium metus. Nulla efficitur ultrices egestas. In egestas, diam nec pellentesque fringilla, dolor ante auctor est, eu sodales eros nulla at tellus.</p>

<div class="well">
	<h3>Location Info</h3>
	<ul>
		<li>The Bookstore</li>
		<li>499 Massachussets Ave, Unit 2</li>
		<li>Boston, MA 02110</li>
		<li>Phone: (617) 555-5555</li>
		<li>Email: support@thebookstore.com</li>
	</ul>
</div>